body {
  margin: 0;
  padding: 0;
  background-color: #FFF9E5;
}
header {
  background-color: #D5E3DA;
  width: 100%
}
h1 {
  background-image: linear-gradient(to right, #6868C0, #C00101, #FFF9E5);
  -webkit-background-clip: text;
  color: transparent;
}
a ,h2 {
  text-decoration: none;
  color: #4141B8;
  font-weight: bold; 
  display: flex;
  justify-content: center;
  text-align: center;
}
h3 {
  font-weight: lighter;
}
.link {
  display: flex;
  align-items: center;
  width: auto;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
footer {
 position: fixed;
 bottom: 0;
 background-color: #D5E3DA;
 width: 100%;
}
input {
 width: 200px;
}
.use {
  color: #C00101;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo-rs {
  gap: 10px;
  display: flex;
}

