@font-face {
  font-family: 'Playball';
  src: url('./Font/Playball-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Playball {
  font-family: 'Playball';
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
@font-face {
  font-family: 'NotoSans';
  src: url('./Font/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: semibold;
  font-style: semibold;
}

.NotoSans {
  font-family: 'NotoSans';
  font-weight: semibold;
  font-style: semibold;
}
body {
  margin: 0;
  padding: 0;
  background-color: #FFF9E5;
  font-family: 'NotoSans';
  font-size: medium;
}
header {
  background-color: #D5E3DA;
  width: 100%;
  height: 100px;
}
h1 {
  background-image: linear-gradient(to right, #6868C0, #C00101, #FFF9E5);
  -webkit-background-clip: text;
  color: transparent;
}
a ,h2 {
  text-decoration: none;
  color: #4141B8;
  font-weight: bold; 
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: -2px;
}
h3 {
  font-weight: lighter;
}

.link {
  display: flex;
  align-items: center;
  width: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
footer {
 position: fixed;
 bottom: 0;
 background-color: #D5E3DA;
 width: 100%;
 overflow: visible;
}
input {
 width: 200px;
}
.use {
  color: #C00101;
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo-rs {
  gap: 10px;
  display: flex;
}
.user {
  color: #C00101;
  text-align: center;
  margin-top: 20px;
  line-height: 2;
}

