.container a {
    background-color: #D9D9D9;
    border-radius: 5px;
    display: block; 
    margin-bottom: 5px; 
    width: 150px;
  }
  .contact {
    display: flex;
  flex-direction: column;
  }
  .accueil {
  background-image: url(src/assets/guitareb.jpg);
  height:40vh;
  color: white;
  margin-bottom: -15px;
  filter: brightness(70%);
  display: flex;
  Flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  }
